<div class="home-about">
  <div class="home-about-avatar">
    <img src="/images/avatar.png" alt="Maria Razzhivina" />
  </div>
  <div class="home-about-text">
    <h1 class="home-about-title">Hi, I'm Maria 👾</h1>
    <h3 class="home-about-title">AI Researcher, Software Engineer (R&D)</h3>
    <p class="home-about-description">
	  Currently, I work on affective computing and HRI, collaborating with national-level academic institutions and contributing to peer-reviewed publications. I'm also leading the development of next-generation computer vision technologies for healthcare at Mecra.
    </p>
	<p class="home-about-description">  
      I hold an M.Comp.Sc. in Computer Vision (hons.) from HSE University and an M.Sc. from the University of Stuttgart (Robotic Construction & Fabrication).
	  My research interests include multimodal learning, human–robot interaction, and learning-based perception for autonomous systems.
	  Previously, I spent several years working at a robotics company in Shanghai, focusing on computer vision systems for industrial robotic systems and autonomous mobile construction robots.
    </p>
    <div class="home-about-tags">
      <span class="about-tag" >2D\3D Computer Vision</span>
      <span class="about-tag" style="background-color: var(--accent-color2); color: var(--venue-text2);">Robotics</span>
      <span class="about-tag" style="background-color: var(--accent-color3); color: var(--venue-text3);">HRI</span>
      <span class="about-tag" style="background-color: var(--accent-color4); color: var(--venue-text4);">Affective Computing</span>
      <span class="about-tag" style="background-color: var(--accent-color5); color: var(--venue-text5);">SLAM</span>
    </div>
  </div>
</div>
