<div class="pub-card-full">
  <a href="{{ .Get "link" }}" class="pub-card-full-link">
    <div class="pub-card-full-image">
      <img src="{{ .Get "image" }}" alt="{{ .Get "title" }}" class="light-img" />
	  {{ with .Get "dark_image" }}
      <img src="{{ . }}" alt="{{ $.Get "title" }} (dark mode)" class="dark-img" />
    {{ end }}
    </div>
    <div class="pub-card-text">
      <h3 class="pub-card-full-title">{{ .Get "title" }}</h3>
      <p class="pub-card-full-description">{{ .Get "description" }}</p>
	  <div class="pub-card-footer">
		<button class="pub-card-button">Read More</button>
		<span class="pub-card-full-venue">{{ .Get "venue" }}</span>
	  </div>
    </div>
  </a>
</div>